*{
    margin:0px;
    padding: 0px;
    outline:none;
}

body{
     font-family: "Roboto";
     font-style: normal;
     font-weight: 400; */
     /* font-family: sans-serif; */
     font-size: 14px;
     /* background: #282C35; */
     background: #efefef;
     padding: 0;
     overflow-x: hidden;
}

input{
     height: 35px;
     width: 100%;
     padding: 13px;
     border: 0px;
     text-align: center;
}

textarea {
     resize: none;
     padding: 13px;
     border: 0px;
}

#email_input{
     border-radius: 3px;
     border: 1px solid black;
}

.modal-title{
     position: absolute;
     text-align: left;
}

#train_button{
     position: fixed;
     right: 10px;
     bottom: 10px;
}
