*{
     margin:0px;
     padding: 0px;
     outline:none;
}

body{
     font-family: "Inconsolata";
	font-style: normal;
	font-weight: 400;
	background: #282C35;
	padding: 0;
     overflow-x: hidden;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.83); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close, .diag_close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    border-left: 2px solid #111111;
}

.close:hover,
.diag_close:hover,
.diag_close:focus,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.bar{
     display: inline-flex;
     position: relative;
}

#editor{
     border: 1px solid #282C35;
	background: #303541;
     color: #ffffff;
     padding: 5px;
     resize: none;
	padding: 5px;
}

#editor::-moz-selection{
     color: #12a456;
}

#editor::selection{
     color: #12a456;
}


#myBtn, #src_code, #diag_btn_close, #copy-btn{
     height:25px;
     width: 60px;
     background: #ffffff;
     border: 1px solid #282C35;
     border-radius: 3px;
     margin-left: 5px;
}

#src_code{
     width: 120px;
     margin-left: 0px;
}

#copy-btn:active,
#diag_btn_close:active,
#src_code:active,
#myBtn:active{
     background:rgb(230, 55, 55);
     color: #ffffff;
}



/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.loader {
     border: 3px solid #f3f3f3;
     border-radius: 50%;
     border-top: 3px solid rgb(230, 55, 55);
     width: 20px;
     height: 20px;
     margin-left: 5px;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
